main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    width: 100%;
}

#gamelist {
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    grid-column: 1;
}

#myGames {
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    grid-column: 2;
}

#content {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 16em;
    grid-column: 2;
}

#content h2, #content h1 {
    text-align: center;
    margin: auto;
}

#content p {
    text-indent: 2em;
}

#content li p {
    text-indent: 0;
}

img {
    margin: auto;
    display: block;
}

.quote {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rightSide {
    grid-column: 3;
    margin: auto;
    min-width: 80%;
    max-width: 500px;
}

#gameChat {
    grid-column: 3;
    margin: auto;
    min-width: 80%;
}

#loginForm {
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
}

.game {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    padding: 1em;
    margin-top: 1em;
    background-color: #5D606B;
}

.game:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #37393F;
    color: #E5E5E5;
}

header {
    background-color: #202225;
    color: white;
    margin: 0;
    max-width: 100%;
    height: 2em;
    padding: 0.5em;
}

header h1 {
    text-align: center;
    margin-top: 0;
    float: left;
}

header span {
    float: right; 
    margin: 0 1em;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

#openGame {
    width: 80%;
    background-color: #5D606B;
    font-size: 2em;
    color: white;
    padding: 0.5em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
}

#openGame:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

#openGame:active {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
}

#chat {
    background-color: #202225;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 2em;
    padding: 0.3em;
}

#messages {
    margin: 0.5em;
    height: 90%;
    overflow-y: scroll;
}

#messages::-webkit-scrollbar {
    display: none;
}

#messages p {
    margin-top: 0.3em;
    margin-bottom: 0;
    overflow-wrap: break-word;
    max-width: 90%;
}

input {
    border: 1px solid black;
    background-color: #37393F;
    height: 2em;
    width: 80%;
    color: white;
}

button {
    width: 12%;
    height: 2em;
    margin-right: 2%;
    background-color: #37393F;
    color: #E5E5E5;
}

#loginForm input {
    margin-bottom: 2em;
    background-color: whitesmoke;
    color:black;
}

.chatUsername {
    color: #E67E23;
}

.left {
    float: left;
}

.right {
    float: right;
}

pre {
    font: inherit;
}

svg {
    margin: auto;
    grid-column: 2;
}

text {
    fill: #E5E5E5;
    font-size: 1.5em;
}

.cardNumber {
    font-size: 100px;
}

.svgButton {
    transition: 0.5s;
}

.svgButton:hover {
    transform: translate(-2px, -2px);
    color: red;
}

.svgButton:active {
    transform: translate(2px, 2px);
}

.disabledSvgButton text {
    fill: grey;
}